body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 微软雅黑,宋体,'Times New Roman', Times, serif;
}

body span{
    line-height: 2em;
}

body span.mingcheng{
    font-size: 2em;

    font-weight: bold;}

p{
    text-indent: 2em;
}

img{
    position: absolute;
    width: 300px;
    height: 420px;

}

.yangshi{
    position:static;
}

.hezi{
    position: relative;
    width: 300px;
    height: 420px;
    overflow: hidden;
}