body {
    margin: 0;
    font-family: MiSans, sans-serif;
    background: linear-gradient(180deg, #00b1ff40, #ffffff) no-repeat;
}

a {
    color: unset;
    text-decoration: none;
    transition: all 0.5s;
}

a:hover {
    color: #ff386e;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #0000001a;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #00000080;
}

::selection {
    background: #000;
    color: #fff
}

.bg {
    /* background: linear-gradient(45deg, #ffffff99, #ffffffcc), url("https://api.imlazy.ink/img") no-repeat; */
    background: linear-gradient(45deg, #ffffff99, #ffffffcc);

    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -3;
    top: 0;
}

/* Index box */

.main-box {
    background-color: #ffffff66;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 100px #b0b0b0;
    margin: 25% auto 25% auto;
    width: 60%;
}

.box-left {
    border-right: 1px solid;
    text-align: center;
    padding: 25px 10% 10%
}

.box-left img {
    border-radius: 50%;
    width: 100%;
    box-shadow: 0 0 10px #aaa;
    cursor: wait;
    transition-delay: 0.2s;
    transition-duration: 1s;
}

.box-left img:hover {
    transform: rotate(360deg);
}

.box-left h1 {
    font-weight: 400;
}

#resumeの {
    width: 74%;
    max-height: 80%;
    overflow-y: auto;
    position: fixed;
    margin: 2% 0 0 -1.5%;
}

.box-content {
    margin: 2.4% 0 -2% -2%;
    border-left: 1px solid;
    border-top: 1px solid;
    width: fit-content;
}

.box-content p {
    padding: 0;
    margin: 10px;
}

.box-item {
    padding: 3px 8px;
    border: 1px solid;
    margin: 10px 0 0 10px;
    display: inline-block;
    transition: all 0.4s;
}

.box-item:hover {
    padding: 3px 15px;
    box-shadow: 0 0 10px #afafaf;
}

/* Nav */
.nav-bar {
    margin: 0 0 0 -2%;
    padding-left: 0;
    max-width: 100%;
    display: flex;
}

.nav-item {
    list-style-type: none;
    width: 100%;
    padding: 1% 4% 1% 4%;
    display: inline-grid;
    text-align: center;
}

.nav-active {
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    font-weight: 500;
}

/* Phone */
@media (max-width: 768px) {
    .container {
        padding: 0 !important;
    }

    .bg {
        background: linear-gradient(45deg, #ffffff99, #ffffffcc);
        background-size: cover;
    }

    .main-box {
        width: 80%;
    }

    .box-left {
        border: 0;
    }

    .box-content {
        border-top: 0;
        border-left: 0;
        margin: 0;
        width: 88%;
    }

    .nav-bar {
        margin: 0;
    }

    .nav-item {
        border-bottom: 1px solid;
    }

    .nav-active {
        border-bottom: 0;
        border-top: 1px solid;
    }

    .box-item a {
        display: block;
    }

    #resumeの {
        width: 100%;
        text-align: center;
        position: unset;
    }

    #resumeの .box-item {
        margin: 10px;
    }
}

/* Dark Mode*/
@media (prefers-color-scheme: dark) {
    body {
        color: #dadada
    }

    ::-webkit-scrollbar-track {
        background-color: #ffffff1a;
    }
    
    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px #ffffff80;
    }

    ::selection {
        background: #fff;
        color: #000
    }

    .bg {
        background: linear-gradient(45deg, #00000099, #000000cc), url("https://api.imlazy.ink/img") no-repeat;
        background-size: cover;
    }

    .main-box {
        background-color: #00000066;
        box-shadow: 0 0 20px #00000054;
    }

    @media (max-width: 768px) {
        .bg {
            background: linear-gradient(45deg, #00000099, #000000cc), url("https://api.imlazy.ink/img-phone") no-repeat;
            background-size: cover;
        }
        
    }
}

/* home.css */
.box-content {
    margin-top: 20px;
    text-align: center; /* 使表格居中 */
}

.box-content h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: left; /* 使标题左对齐 */
}

.scrollable-table-container {
    width: 80%; /* 调整容器宽度 */
    margin: 0 auto; /* 使容器水平居中 */
    overflow: hidden; /* 隐藏溢出的内容 */
    border: 1px solid #ddd; /* 添加边框 */
    background-color: #fff; /* 设置背景颜色 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
}

.resume-table {
    width: 100%; /* 表格宽度占满容器 */
    border-collapse: collapse;
}

.resume-table th,
.resume-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* 不换行 */
    overflow: hidden; /* 隐藏溢出的内容 */
    text-overflow: ellipsis; /* 溢出的内容用省略号表示 */
}

.resume-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.resume-table td {
    text-align: center; /* 右边列内容居中 */
}

.resume-table tr:nth-child(even) {
    background-color: #f9f9f9;
}